#paymentgatewaystrip{
  display: none;
}
.Booking label{
  margin-bottom: unset;
}
.Booking .UserDetails input,
.Booking .PackageDetails input,
.Booking .DeliveryDetails .address textarea{
  width: 100%;
}
.Booking .DeliveryDetails .address label{
  vertical-align: top;
}
.Booking .DeliveryDetails{
  padding-top: 10px;
}
.Booking .DeliveryDetails .react-datetime-picker{
  padding-left: 10px;
}
.Booking .DeliveryDetails .pickupdate{
  padding: 10px 0px;
}
.Booking .ContinueButton{
  text-align: center;
}
.Booking .ContinueButton .package_submit_div.disabled{
  pointer-events: none;
}
.Booking .UserDetails > *,
.Booking .PackageDetails > *,
.Booking .DeliveryDetails > *,
.Booking .ContinueButton > *{
  /* text-align: center; */
}
.Booking .innercontainer.card{
  padding: 10px;
  margin: auto;
  width: 580px;
}
@media only screen and (max-width: 768px) {
  .Booking .innercontainer.card {
    width: 100%
  }
}
