#root .navbar.navbar-dark{
  border-radius: 0.3em;
    border: 1px solid;
    position: sticky;
    top: 0;
    z-index: 9999 !important;
}
@media only screen and (min-width: 436px) {
  .userstate{
      right: 23px;
      position: absolute;
  }
}
